@import url(reset.css);
@import url(hero.css);
@import url(video.css);

html {
    scroll-behavior: smooth;
    font-size: 100%; 
}

/*Fonts-weight*/
.light {
    font-weight: 300;
}
.medium {
    font-weight: 500;
}
.bold {
    font-weight: 700;
}

/*Colors*/
:root {
    --white: #FFFFFF;
    --black: #000000;
    --greendlewald: #0D452E;
    --forest-green:#436F5C;
    --lagoon-shadow: #444741;
    --chrysler-arctic-white: #F6F7F4;
    --deep-forest-green:#040F00;
    --underworld:#1D221B;
    --tea-green:#D4EBC0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--chrysler-arctic-white);
    -webkit-font-smoothing: antialiased;
}

/* CTAS */
.cta{
    animation: pulse 2s infinite;
}
.cta1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .625rem;
    font-weight: 700;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: var(--greendlewald);
    background-color: var(--tea-green);
    padding: .9375rem 1.875rem;
    border-radius: 0.625rem;
    text-decoration: none;
    border-radius: 99px;
    transition: background-color 1s ease-in-out, color 1s ease-in-out; /* Adiciona a transição ao botão inteiro */
}

.cta1:hover {
    background-color: var(--greendlewald);
    color: var(--chrysler-arctic-white); 
}

.cta1:hover svg {
    fill: var(--chrysler-arctic-white); /* Muda a cor do SVG quando o hover é ativado */
}

.cta1 svg {
    transition: fill 1s ease-in-out; /* Adiciona uma transição suave para o fill do SVG */
}

.cta2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .625rem;
    font-weight: 700;
    font-size: 1.25rem;
    text-transform: uppercase;
    color: var(--greendlewald);
    background-color: var(--white);
    padding: .9375rem 1.875rem;
    border-radius: 0.625rem;
    text-decoration: none;
    border-radius: 99px;
    transition: background-color 1s ease-in-out, color 1s ease-in-out; 
    justify-self: center;
}

.cta2:hover {
    background-color: var(--greendlewald);
    color: var(--chrysler-arctic-white); 
}

.cta2:hover svg {
    fill: var(--chrysler-arctic-white); /* Muda a cor do SVG quando o hover é ativado */
}

.cta2-svg {
    transition: fill 1s ease-in-out; /* Adiciona uma transição suave para o fill do SVG */
}


.title {
    font-family: 'Poppins', sans-serif;

}

.subtitle {
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 1200px) {
    html {
        font-size: 93.75%; 
    }
}

@media (max-width: 992px) {
    html {
        font-size: 87.5%; 
    }
}

@media (max-width: 768px) {
    html {
        font-size: 81.25%; 
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 2.3rem;
        line-height: 1.1;
    }
    .subtitle {
        font-size: 1.4rem;
        line-height: 1.2;
    }
    html {
        font-size: 65%; 
    }
}

@media (max-width: 320px) {
    html {
        font-size: 70%;
    }
}


/* ANIMATIONS */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}